<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body>
<div class="row">
  <div class="col-md-6">
    <h3>输入 <span class="label label-default">字符串</span></h3>
    <form action="" method="post">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3" >选择操作</span>
          <input type="text" name="operate" list="operatelist">
            <datalist id="operatelist">
                <option>encrypt</option>
                <option>decrypt</option>
            </datalist>
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3" >工作模式</span>
          <input type="text" name="mode" list="modelist">
            <datalist id="modelist">
                <option>ECB</option>
                <option>CBC</option>
                <option>CTR</option>
                <option>OFB</option>
                <option>CFB</option>
            </datalist>
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">明(密)文(16个十六进制数)</span>
          <input type="text" class="form-control" name="text" aria-describedby="basic-addon3" minlength="16">
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">Key(16个十六进制数)</span>
          <input type="text" class="form-control" name="key" aria-describedby="basic-addon3" minlength="16">
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">IV(16个十六进制数)</span>
          <input type="text" class="form-control" name="iv" aria-describedby="basic-addon3" minlength="16" placeholder="ECB模式没有IV">
        </div>
        <br>
        <input type="submit" id="submit_by_str" class="btn btn-success pull-right" value="提交">
    </form>

  </div>

  <div class="col-md-6">

      <h3>输入(上传) <span class="label label-default">文件</span></h3>
      <form action="" method="post" enctype="multipart/form-data">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3" >选择操作</span>
          <input type="text" name="operate" list="operatelist">
            <datalist id="operatelist">
                <option>encrypt</option>
                <option>decrypt</option>
            </datalist>
        </div>
        <br>
          <div class="input-group">
              <span class="input-group-addon" id="basic-addon3" >工作模式</span>
              <input type="text" name="mode" list="modelist">
                <datalist id="modelist">
                    <option>ECB</option>
                    <option>CBC</option>
                    <option>CTR</option>
                    <option>OFB</option>
                    <option>CFB</option>
                </datalist>
          </div>
          <br>
          <input type="file" name="up_file"  id="imgUpload" class="imgFile form-control">
          <br>
          <div class="well">
              文件格式：<br>
              明(密)文第一行<br>
              key第二行<br>
              iv第三行<br>
          </div>
          <input type="submit" id="submit_by_file" class="btn btn-primary pull-right" value="上传">
      </form>
  </div>
</div>

<hr style="border-color: chartreuse">

<div class="row">
  <div class="col-md-6">
      <textarea class="form-control" rows="5" placeholder="输出结果在此显示">{{ result }}</textarea>
  </div>
  <div class="col-md-6">
      <a href="/zxs/download?res={{ download }}">结果文件</a>
  </div>
</div>

</body>
</html>